<div class="read-article-container">
	<div class="read-article-c">
		{{include('frontend/includes/article/_content.html.twig')}}
		{{include('frontend/includes/newsFeed/_most_read_news.html.twig')}}
	</div>
	<div class="article-comment-container">
		{{include('frontend/includes/article/_comments.html.twig')}}
		{{include('frontend/includes/article/_commentForm.html.twig')}}
	</div>
	{{include('frontend/includes/article/_readAlso.html.twig')}}
</div>